.req-head{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 0;
        margin-left: 0;
        padding:0;
        width:100vw;
        height:10vh;
        background-color: #ffab1f;
    
}

.reqs-list{
    background-color:#294a70;
    color:white
}