/* Banner */
.masks{
    background-color:rgba(5, 17, 54, 0.7);
    height:100%;
    width:40%;
    margin-right: 0;
    position: relative;
    left:60%;
}

/*About */
.club-abt-cont{
    padding:10% 10% 5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:fit-content;
}

.club-abt-cont .text{
    font-size: 18px;
    margin-right:20%;
}

.img{
  height: 400px;
  width:400px
}

/*Features */

/*Events*/
.times-card{
  display: flex;
  justify-content: space-between;
}

.car-btns{
  display: flex;
  text-align: right;
  justify-content: space-evenly;
}

/*Officials */
.off {
  min-height: 100vh;
}

.off-head{
  background-color: #071e3d;
  height:20vh;
  width:100%;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

/* Form */
.card-form, .card-event {padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none 
  !important;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)

}

.form-control-label{
  margin-bottom: 0
}
input, textarea, button{
  padding: 8px 15px;border-radius: 5px !important;margin: 5px 0px;box-sizing: border-box;border: 1px solid #ccc;font-size: 18px !important;font-weight: 300
}

.reqs-btn{
  background-color: #071e3d;
  color: white;
  width:70%;
}
.reqs-btn:hover{
  background-color: #1f4287;
  color:white;

}
.card-event, .card-feat {
  transition: transform 0.3s ease-in-out; 
}

 .card-event:hover, .card-feat:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.card-body-event {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}