.stud-list{
    padding:5%;
}

.stud-head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1%;
    margin-bottom: 0;
    background-color:#ffab1f;
    width:100vw;
  }