.parents{ 
  width: 100vw; 
  height: auto; 
  margin: auto;
  display: flex;  
  justify-content: space-around;
  overflow-x: hidden;
  flex-wrap: wrap; 
  transition: all 0.2 linear;
  margin-top: 2%;
}
.grand_parent{ width: 100vw; 
  height:100vh;
  background: #dfe6e9; 
  color: #fff;
}

.hero-title {
	font-size: 5vw; 
  color:#294a70;
	font-weight: 500;
	letter-spacing: 1px;
  line-height: 1.1;
  margin: 2%;
  text-align: left;
  text-transform: uppercase;
  width: 85%;
}

.sp-text{
  color:#ffab1f;
}

.hero-title2 {
	font-size: 20px; 
	font-weight: 500;
	letter-spacing: 1px;
  margin: 1%;
  text-align: left;
  width: 85%;
}



.title{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding:20px;
  justify-content: center;
  margin:0%;

}

.hero-title2{
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 6px;
  opacity: 0.8;
  
  text-align: left;
}

.text-banner{
  width:100%;
}

.img-banner{
  width:100%
}
.child{
  text-align: center;
  justify-content: center;
  height: auto;
  width:100vw;
  flex:2 2 200px;
  margin: 0px;
}

.child:first-child{
  width:50vw;
}
.child:last-child{
  width:50vw;
}

.signup-button {
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.signup-button:hover {
  background-color: darkblue;
}

@media (max-width: 768px){

  .grand_parent{height:auto; }
}