.main{
  background:linear-gradient(rgba(7,30,61,0.8), rgba(7,30,61,0.8)), url('../../assets/bg.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.club-con{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b4b8bc;
}

.home-text{
  display: flex;
  flex-direction: column;
  padding: 4% ;
  padding-top: 10%;
  position: relative;
  font-weight: 600;
  left:6%;
  width: 70%;
  color: white;
}

.sp-text{
  color:#21e6c1
}
.home-para{
  color:white;
  font-size: 3vw;
  text-transform: uppercase;
  line-height: 1.4;
  font-weight: 600;
}

.home-btn{
  border: 3px solid rgb(255, 255, 255);
  color:white;
  font-size: 1.5vw;
  text-transform: uppercase;
  text-align: center;justify-content: center;
  margin:1% 5%;
  width:200px;
  padding: 1.5%;
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

.home-btn:hover{
  -webkit-transform: scale(1.08);
-moz-transform: scale(1.08);
-o-transform: scale(1.08);
transform: scale(1.08);
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

.home-btns{
  display: flex;
  flex-direction: row;
}
